<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BIENVENIDOS A CAMPRO!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <h1>¡Captura Momentos Especiales!</h1>
    <img src="../../assets/grupo.jpg" alt="Captura Momentos Especiales" class="special-moments-img">
    <p>Con tu aplicación CAMPRO, podrás capturar y guardar tus recuerdos más preciados.</p>
    <p>Explora todas las características emocionantes que tenemos para ti.</p>
  </div>
</ion-content>
